.headerBanner {
    height: 100px;
    width: 100vw;
    padding: 5px;
    background-image: url("../../assets/images/wood.png");
    background-size: cover;
    display: block;

}

.logo {
    background: white;
    border-radius: 50%;
    border: black;
    border-style: solid;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

.logo h1 {
    margin-top: 5px;
    font-size: 3em;
}

.logo p {
    margin-top: 5px;
    font-size: 1em;
}

.logoMobile {
    height: 120px;
    width: 150px;

}

.logoDesktop {
    height: 90px;
    width: 30vw;
    min-width: 240px;
    max-width: 350px;
}